# Nginx config
domain_name: api.example.com
backend_port: 8000

# CertBot config
enable_https: true
letsencrypt_email: you@example.com

# Docker Registry credentials (optional)
docker_registry_url:
docker_registry_username:
docker_registry_password:

# Users in group docker (optional)
docker_users: 
  - deploy