BACKEND_IMAGE=onetwozzz3000/reviews-backend:latest
DATABASE=postgresql://admin:ChangeMe@db:5432/reviews
POSTGRES_USER=admin
POSTGRES_PASSWORD=ChangeMe
POSTGRES_DB=reviews
GF_SECURITY_ADMIN_PASSWORD=ChangeMe