name: Build and Deploy reviews docker

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Log in to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}

    - name: Build and push Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/reviews-backend:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/reviews-backend:latest

    - name: Deploy to server via SSH
      uses: appleboy/ssh-action@v0.1.9
      with:
        host: ${{ secrets.SERVER_HOST }}
        username: ${{ secrets.SERVER_USER }}
        key: ${{ secrets.SERVER_SSH_KEY }}
        script: |
          docker pull yourusername/reviews-backend:latest
          docker stop reviews-backend || true
          docker rm reviews-backend || true
          docker run -d --name reviews-backend -e DATABASE="${{ secrets.DATABASE_URL }}" -p 7000:8000 ${{ secrets.DOCKER_USERNAME }}/reviews-backend:latest
